fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
pymupdf
pypdf
langchain
langchain-community
langgraph
langchain-groq
chromadb
sentence-transformers
langdetect
python-dotenv
langchain_text_splitters
langchain-google-genai
pytesseract
pdf2image 
pillow
spacy
transformers
torch
langgraph-checkpoint-sqlite